@import "../../styles-variables";

.infoContainer {
  height: 100%;
}

.table-dark {
  background-color: black;
}
.table tr {
  color: rgb(194, 193, 193);
}

#hoursTitle {
  font-size: 2rem;
  margin-bottom: 1rem;
}
#locationTitle {
  font-size: 2rem;

}
.hours {
  color: rgb(194, 193, 193);
}
.map img {
  width: 100%;
}
.btnCol {
  height: 100%;
  text-align: center;
}
.map {
  height: 100%;
}
@media (max-width: $md) {
  .infoTopRow {
    margin-top: 3rem;
  }
  #barberosHeader {    
    color: rgb(194, 193, 193);
    border-bottom: solid 2px rgb(194, 193, 193);
  }
  .infoMiddleRow {
    height: 100%;
  }
  .hours {
    height: 50%;
  }
  .map {
    height: 50%;
  }
  .infoBotRow{
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: $md +1) and (-webkit-min-device-pixel-ratio: 1) {
  #barberosHeader {
    line-height: 200px;
    color: rgb(194, 193, 193);    
  }

  .infoTopRow {
    height: 20%;
  }
  .infoMiddleRow {
    height: 60%;
  }
  .hours {
    position: relative;
  }
  .table {
    position: absolute;
    top: 0;
    left: 0;
    height: 50%;    
    margin-top: 25%;
  }
  .map img:hover {
    opacity: .8;
  }

  #apptBtn {    
    width: 20rem;
    border-radius: 8px;
  }
  
  .infoBotRow {
    height: 20%;
  }
}

@media screen and (min-device-width: $xl) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  #barberosHeader {
    line-height: 100px;
    color: rgb(194, 193, 193);    
  }
  
  .infoTopRow {
    height: 20%;
  }
  .infoMiddleRow {
    height: 60%;
  }
  .hours {
    position: relative;
  }
  .table {
    position: absolute;
    top: 0;
    left: 0;
    height: 50%;    
    margin-top: 25%;
  }
  .map img:hover {
    opacity: .8;
  }

  #apptBtn {    
    width: 20rem;
    border-radius: 8px;
  }
  
  .infoBotRow {
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 20%;
  }
}


