@import "styles-variables";


html, body {
  height: 100%;
}

@media (max-width: $md) {
  .fullPage {
    height: 100%;
  }
  body {
    background: black !important;
  }

}
@media screen and (min-width: $md +1) and (-webkit-min-device-pixel-ratio: 1){
  .fullPage {
    height: 100vh;
  }
  body {
    background: linear-gradient(to right, rgb(10, 10, 10), black, rgb(20, 20, 20));
  }
}

@media screen and (min-device-width: $xl) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  .fullPage {
    height: 100%;
  }
}








