@import "styles-variables";


html, body {
  height: 100%;
}

@media screen and (max-width: $md) {
  .fullPage {
    height: 100%;
  }
  body {
    background: black !important;
  }

}
@media 
  only screen and (min-width: $md +1) and (-webkit-min-device-pixel-ratio: 1), 
  only screen and (min--moz-device-pixel-ratio: 1){
  .fullPage {
    height: 100vh;
  }
  body {
    background: linear-gradient(to right, rgb(10, 10, 10), black, rgb(20, 20, 20));
    background: -moz-linear-gradient(to right, rgb(10, 10, 10), black, rgb(20, 20, 20));
  }
}


@media 
  only screen and (-webkit-min-device-pixel-ratio: 2), 
  only screen and (min--moz-device-pixel-ratio: 2) {
  .fullPage {
    height: 100%;
  }
  body {
    background: linear-gradient(to right, rgb(10, 10, 10), black, rgb(20, 20, 20));
    background: -moz-linear-gradient(left,  rgb(10,10,10), black, rgb(20,20,20));
    -moz-background-color:  black;
    background-color: -webkit-gradient(linear, left, from(rgb(10, 10, 10)), to(black), to(rgb(20, 20, 20)));
  }
}








